
{% extends 'website/base.html' %}
             {% include 'website/partials/menu.html' %}

            {% block 'contenu_principal' %}
             {% include 'website/sections/banner-k.html' %}
             {% include 'website/sections/princing1.html' %}
             {% include 'website/sections/testimonial-d.html' %}
            
            {% endblock %}
        
        {% block 'script' %}
                {% include 'website/partials/script_index.html'  %}
        {% endblock %}
    