{% load static %}

<section class="home-features">
    <div class="container ps-md-0">
        <div class="row align-items-center">

            <!-- IMAGE DYNAMIQUE -->
            <div class="col-12 col-lg-6 animated" data-animation="fadeInUp" data-animation-delay="200">
                {% if feature_header.image %}
                    <img src="{{ feature_header.image.url }}" class="img-fluid" alt="">
                {% else %}
                    <img src="{% static 'website/assets/imgs/features/big.jpg' %}" class="img-fluid" alt="">
                {% endif %}
            </div>

            <!-- TEXTES + ACCORDÉON -->
            <div class="col-12 col-lg-6">
                <div class="block animated" data-animation="fadeInUp" data-animation-delay="400">
                    
                    {% if feature_header %}
                        <div class="herotext">
                            <div class="rightline pb-3">
                                <span>{{ feature_header.small_title }}</span>
                            </div>

                            <h2>{{ feature_header.big_title }}</h2>

                            <h5 class="pt-2">{{ feature_header.subtitle }}</h5>
                        </div>
                    {% endif %}

                    <!-- ACCORDION DYNAMIQUE -->
                    <div class="accordion pt-3" id="accordionExample">

                        {% for item in feature_items %}
                            <div class="accordion-item">

                                <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                                    <button class="accordion-button {% if not forloop.first %}collapsed{% endif %}"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#collapse{{ forloop.counter }}"
                                            aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                                            aria-controls="collapse{{ forloop.counter }}">
                                        {{ item.titre }}
                                    </button>
                                </h2>

                                <div id="collapse{{ forloop.counter }}"
                                     class="accordion-collapse collapse {% if forloop.first %}show{% endif %}"
                                     aria-labelledby="heading{{ forloop.counter }}"
                                     data-bs-parent="#accordionExample">

                                    <div class="accordion-body">
                                        {{ item.description }}
                                    </div>

                                </div>

                            </div>
                        {% endfor %}

                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
