{% load static %}

<section class="home-services pt-4 pb-4" id="services">
    <div class="container-fluid">

        <!-- TITRES DYNAMIQUES -->
        <div class="row pb-5">
            <div class="col-12">
                <div class="herotext text-center animated" data-animation="fadeInUp" data-animation-delay="100">
                    {% if service_header %}
                        <div class="lrline pb-3">
                            <span>{{ service_header.small_title }}</span>
                        </div>
                        <h2>{{ service_header.big_title|linebreaksbr }}</h2>
                        <h5 class="pt-2">{{ service_header.subtitle }}</h5>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- LISTE DES SERVICES -->
        <div class="services-carousel animated" data-animation="fadeInUp" data-animation-delay="300">

            {% for service in services %}
            <div class="block">
                <div class="info">
                    <h2>{{ service.titre }}</h2>
                    <div class="description">{{ service.description }}</div>
                    <a href="services-detail.html">Read More</a>
                </div>
                <div class="picture">

                       {% if service.image %}
                         <img src="{{ service.image.url }}" class="img-fluid pic" alt="">
                       {% endif %}

                        {% for img in service.images.all %}
                            <img src="{{ img.image.url }}" class="img-fluid pic" alt="">
                        {% endfor %}

                </div>

            </div>
            {% endfor %}

        </div>

    </div>
</section>
